/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 1, 2022, 3:48:28 PM
    Author     : Donia 
*/

.help
{
      -fx-border-color:  red;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: auto ;
}
.help:hover
{
      -fx-border-color: yellow;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: auto;
      
}
.help:pressed
{
      -fx-border-color:   red;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: auto;
}

.history
{
      -fx-border-color:darkorange ;
      -fx-border-radius:  50 50 50 50; 
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: stretch;
}
.history:hover
{
      -fx-border-color:  yellow;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50;      
      -fx-background-size: stretch;
}
.history:pressed
{
      -fx-border-color: yellow;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: stretch;
}

.AnchorPane{
  
  
    -fx-background-image:url('fire3.jpg');
    -fx-background-size: stretch;
}
.stop
{
      -fx-border-color:  red;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: auto ;
}
.stop:pressed
{
      -fx-border-color: yellow;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: stretch;
}
.Alert{
    
    -fx-background-image:url('alert.gif');
    
    -fx-background-size: stretch;
}